PORT=8000
DB_URL=mongodb://localhost:27017/test
CLIENT_URL=http://localhost:5173

AUTH_ACCESS_TOKEN_SECRET=your-access-secret
AUTH_ACCESS_TOKEN_EXPIRY=2m
AUTH_REFRESH_TOKEN_SECRET=your-refresh-secret
AUTH_REFRESH_TOKEN_EXPIRY=5m

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=your-admin-password
ADMIN_TOKEN=your-admin-token
